In [1]:
import pickle
import numpy as np # type: ignore
import pandas as pd # type: ignore

In [2]:
# Cargar el modelo
with open('../data/modelos/modelo_xgboost.pkl', 'rb') as f:
    model = pickle.load(f)
# Cargar los transformers
with open('../data/transformer/transformer_scaler.pkl', 'rb') as f:
    scaler = pickle.load(f)

with open('../data/transformer/transformer_target.pkl', 'rb') as f:
    target = pickle.load(f)

with open('../data/transformer/transformer_one.pkl', 'rb') as f:
    one = pickle.load(f)

In [3]:
variables_one = ['MaritalStatus','JobRole','BusinessTravel', 'Department','EducationField']
data = {
    'Age': 55,
    'Attrition': 'No',
    'BusinessTravel': 'Travel_Rarely',
    'Department': 'Sales',
    'DistanceFromHome': 6,
    'Education': 2,
    'EducationField': 'Life Sciences',
    'Gender': 'Female',
    'JobLevel': 1,
    'JobRole': 'Healthcare Representative',
    'MaritalStatus': 'Married',
    'MonthlyIncome': 131160,
    'PercentSalaryHike': 11,
    'StockOptionLevel': 0,
    'TrainingTimesLastYear': 6,
    'YearsAtCompany': 1,
    'YearsSinceLastPromotion': 0,
    'YearsWithCurrManager': 0,
    'JobInvolvement': 3,
    'PerformanceRating': 3,
    'EnvironmentSatisfaction_knn': 3.0,
    'JobSatisfaction_knn': 4.0,
    'WorkLifeBalance_knn': 4.0,
    'NumCompaniesWorked_knn': 1.0,
    'TotalWorkingYears_knn': 1.0
}

In [4]:
df_pred = pd.DataFrame(data, index = [0])
df_pred.head(2)

,Age,Attrition,BusinessTravel,Department,DistanceFromHome,Education,EducationField,Gender,JobLevel,JobRole,...,YearsAtCompany,YearsSinceLastPromotion,YearsWithCurrManager,JobInvolvement,PerformanceRating,EnvironmentSatisfaction_knn,JobSatisfaction_knn,WorkLifeBalance_knn,NumCompaniesWorked_knn,TotalWorkingYears_knn
0,55,No,Travel_Rarely,Sales,6,2,Life Sciences,Female,1,Healthcare Representative,...,1,0,0,3,3,3.0,4.0,4.0,1.0,1.0

In [5]:
col_numericas = df_pred.select_dtypes(include = np.number).columns
df_pred[col_numericas] = scaler.transform(df_pred[col_numericas])

In [6]:
# transformamos las categorias one-hot
df_one = pd.DataFrame(one.transform(df_pred[variables_one]).toarray(), columns=one.get_feature_names_out())
df_pred = pd.concat([df_pred, df_one], axis = 1)
df_pred.drop(columns = variables_one, axis = 1, inplace = True)

In [7]:
 # transformamos las categoricas de target
df_pred = target.transform(df_pred)

In [8]:
df_pred.drop(columns=['Attrition'],inplace=True)

In [9]:
prediction = model.predict(df_pred)
prob = model.predict_proba(df_pred)
print(prob)

[[0.8222095  0.17779054]]

In [10]:
prediction

array([0])